.dings-board { line-height: 1; overflow-x: hidden; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; word-break: keep-all; letter-spacing: -0.057em; color: #080a14; font-size: 17px; min-width: 320px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.dings-board * { -webkit-box-sizing: border-box; box-sizing: border-box; }
.dings-board h1, .dings-board h2, .dings-board h3, .dings-board h4, .dings-board h5, .dings-board h6 { font-size: inherit; font-family: inherit; font-weight: inherit; }
.dings-board ol, .dings-board ul { list-style: none; }
.dings-board blockquote, .dings-board q { quotes: none; }
.dings-board blockquote:before, .dings-board blockquote:after, .dings-board q:before, .dings-board q:after { content: ''; content: none; }
.dings-board table { width: 100%; border-collapse: collapse; table-layout: fixed; border-spacing: 0; }
.dings-board input::-webkit-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board input:-ms-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board input::-ms-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board input::placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board textarea::-webkit-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board textarea:-ms-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board textarea::-ms-input-placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board textarea::placeholder { font-size: 14px; color: #b5b5b5; font-weight: 300; }
.dings-board input, .dings-board textarea, .dings-board button { -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; }
.dings-board input[type="checkbox"] { width: auto; }
.dings-board a { color: inherit; text-decoration: none; }

.noselect { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.readonly, .sound_only { display: none; }

.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.board { overflow: hidden; }

.clickable-wrapper { position: relative; }

.hidden-checkbox, .hidden-radio { display: none; }

.checkbox-fake-text { font-size: 12px; }

.hidden-checkbox[required] ~ .checkbox-fake .checkbox-fake-text::after, .hidden-checkbox.required ~ .checkbox-fake .checkbox-fake-text::after { content: '*'; color: #ff0101; margin-left: 5px; display: inline; }

.checkbox-fake, .radio-fake { display: inline-block; line-height: 20px; cursor: pointer; }
.checkbox-fake::after, .radio-fake::after { content: ''; display: table; clear: both; }
.checkbox-fake.admin .checkbox-fake-icon, .checkbox-fake.admin .radio-fake-icon, .radio-fake.admin .checkbox-fake-icon, .radio-fake.admin .radio-fake-icon { border-color: #0191d1; }
.checkbox-fake.admin .checkbox-fake-icon::before, .checkbox-fake.admin .radio-fake-icon::before, .radio-fake.admin .checkbox-fake-icon::before, .radio-fake.admin .radio-fake-icon::before { background: #ff0101; }

.checkbox-fake-icon, .radio-fake-icon { position: relative; float: left; display: inline-block; width: 20px; height: 20px; border: 1px solid #888; margin: 0; background: #fff; }
.checkbox-fake-icon::before, .radio-fake-icon::before { content: ''; position: absolute; top: 50%; left: 50%; display: block; width: 10px; height: 10px; background: #0191d1; opacity: 0; -webkit-transform: translate(-50%, -50%) scale(1.5); transform: translate(-50%, -50%) scale(1.5); -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.checkbox-fake-icon ~ .checkbox-fake-text, .checkbox-fake-icon ~ .radio-fake-text, .radio-fake-icon ~ .checkbox-fake-text, .radio-fake-icon ~ .radio-fake-text { margin-left: 12px; }

.radio-fake-icon { border-radius: 50%; }
.radio-fake-icon::before { border-radius: 50%; }

.checkbox-fake-text, .radio-fake-text { float: left; }

.hidden-checkbox:checked ~ .checkbox-fake .checkbox-fake-icon::before { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }

.hidden-radio:checked ~ .radio-fake .radio-fake-icon::before { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }

.board-head { margin-bottom: 30px; }
.board-head::after { content: ''; display: table; clear: both; }
.board-head fieldset { display: inline-block; float: right; }

.nav-category { display: block; margin-bottom: 50px; }
.nav-category .board-list-category { margin-top: -30px; margin-left: -30px; }
.nav-category .board-list-category::after { content: ''; display: table; clear: both; }
.nav-category .board-list-category li { float: left; padding-top: 30px; padding-left: 30px; }
.nav-category .board-list-category li a { display: inline-block; font-size: 20px; font-weight: 500; line-height: 1.7; -webkit-transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.nav-category .board-list-category li a:hover, .nav-category .board-list-category li a#bo_cate_on { color: #0191d1; }
.nav-category .board-list-category li a#bo_cate_on { border-bottom: 2px solid #0191d1; }

.board-info { float: left; line-height: 50px; font-size: 18px; font-weight: 500; }

.board-search { float: right; }

.search-select { position: relative; float: left; width: 150px; border-bottom: 2px solid #0a0a0a; margin-right: 30px; }
.search-select.focus .fake-select, .search-select:focus .fake-select { opacity: 1; pointer-events: auto; }
.search-select.focus .select-arrows, .search-select:focus .select-arrows { position: absolute; top: 0; right: 0; }
.search-select.focus .select-arrows .close, .search-select:focus .select-arrows .close { opacity: 1; -webkit-transform: none; transform: none; }
.search-select.focus .select-arrows .open, .search-select:focus .select-arrows .open { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }

.selected-value { position: relative; display: inline-block; padding: 17px 0 13px 0; width: 100%; font-size: 18px; font-weight: 500; }

.selected-value-inner { position: relative; }

.select-arrows { position: absolute; top: 0; right: 0; }
.select-arrows i { -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); position: absolute; top: 0; right: 0; font-size: 16px; }
.select-arrows .close { opacity: 0; -webkit-transform: translateY(-20px); transform: translateY(-20px); }

.fake-select { position: absolute; top: 100%; left: 0; width: 100%; opacity: 0; pointer-events: none; background: rgba(255, 255, 255, 0.9); border: 1px solid #0a0a0a; font-size: 16px; padding: 10px 0; -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); z-index: 2; }
.fake-select li { line-height: 30px; padding: 0 20px; color: #999999; }
.fake-select li:hover, .fake-select li.selected { color: #0a0a0a; }

.real-select { display: none; }

.search-input { position: relative; float: left; width: 265px; border-bottom: 2px solid #0a0a0a; }

.ipt-search { width: 100%; height: 48px; background: transparent; border: none; }

.btn-search { position: absolute; top: 0; right: 0; width: 30px; text-align: right; padding: 0; line-height: 50px; background: transparent; border: none; border-radius: 0; font-size: 20px; }

.board-normal-list { border-top: 2px solid #ebebeb; padding: 50px; }
.board-normal-list tr.nothing td { text-align: center; font-size: 16px; color: #888; }
.board-normal-list col.col1 { width: 70px; }
.board-normal-list col.col2 { width: 70px; }
.board-normal-list col.col3 { width: 100%; }
.board-normal-list col.col4 { width: 125px; }
.board-normal-list col.col5 { width: 50px; }
.board-normal-list col.col6 { width: 50px; }
.board-normal-list col.col7 { width: 50px; }
.board-normal-list col.col8 { width: 125px; }
.board-normal-list td { vertical-align: middle; font-size: 18px; }
.board-normal-list td.col1, .board-normal-list td.col2 { text-align: center; }
.board-normal-list td.col3 { font-weight: 500; color: #0a0a0a; }
.board-normal-list td.col4 { font-size: 14px; font-weight: 500; text-align: center; }
.board-normal-list td.col5, .board-normal-list td.col6, .board-normal-list td.col7, .board-normal-list td.col8 { font-size: 14px; font-weight: 900; text-align: center; }
.board-normal-list td, .board-normal-list th { border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; padding: 30px 0; }
.board-normal-list .board-text-notice, .board-normal-list .board-text-current { display: inline-block; padding: 3px 7px; color: #fff; font-size: 14px; border-radius: 3px; }
.board-normal-list .board-text-notice { background: #0a0a0a; }
.board-normal-list .board-text-current { background: #0191d1; }
.board-normal-list .board-text-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.board-normal-list .board-text-number { font-weight: bold; font-size: 16px; color: #888; }
.board-normal-list .board-text-category { display: inline-block; color: #0191d1; margin-right: 5px; }
.board-normal-list .board-text-category::before { content: '['; }
.board-normal-list .board-text-category::after { content: ']'; }
.board-normal-list .board-text-icon.link, .board-normal-list .board-text-icon.secret, .board-normal-list .board-text-icon.download { display: inline-block; padding: 2px 4px; font-size: 12px; background: #0191d1; color: #fff; border-radius: 2px; margin-right: 5px; }
.board-normal-list .board-text-icon.reply { display: inline-block; color: #0191d1; margin-right: 5px; }
.board-normal-list .board-text-icon.hot { display: inline-block; padding: 2px 4px; font-size: 12px; background: #ff0101; color: #fff; border-radius: 2px; margin-right: 5px; }
.board-normal-list .board-text-icon.new { display: inline-block; padding: 2px 4px; font-size: 12px; background: #0191d1; color: #fff; border-radius: 2px; margin-right: 5px; }
.board-normal-list .board-text-count-comments { display: inline-block; padding: 2px 7px; font-size: 12px; background: #0191d1; color: #fff; border-radius: 2px; margin-right: 5px; }

.board-list-admin li { float: left; }
.board-list-admin li + li { margin-left: 20px; }
.board-list-admin li button, .board-list-admin li a { border: none; background: none; display: inline-block; padding: 0; font-size: 16px; line-height: 1; cursor: pointer; }

.board-interface::after { content: ''; display: table; clear: both; }

.board-interface-user { float: right; }

.btn-board { float: left; display: inline-block; padding: 0 20px; line-height: 38px; font-size: 18px; margin-top: 30px; border-radius: 1px; border: none; cursor: pointer; }
.btn-board.write { background: #0191d1; color: #fff; }
.btn-board.write:hover { background: #0a0a0a; }
.btn-board + .btn-board { margin-left: 10px; }

.pg_wrap { text-align: center; margin-top: 30px; width: 100%; }
.pg_wrap .pg_page, .pg_wrap .pg_current { color: inherit; font-size: inherit; height: inherit; line-height: inherit; padding: inherit; min-width: inherit; text-decoration: inherit; border-radius: inherit; }
.pg_wrap .pg { display: inline-block; font-size: 18px; color: #0a0a0a; }
.pg_wrap .pg a + a, .pg_wrap .pg a + span, .pg_wrap .pg a + strong, .pg_wrap .pg span + a, .pg_wrap .pg span + span, .pg_wrap .pg span + strong, .pg_wrap .pg strong + a, .pg_wrap .pg strong + span, .pg_wrap .pg strong + strong { margin-left: 10px; }
.pg_wrap .pg a, .pg_wrap .pg strong { display: inline-block; min-width: 28px; padding: 5px; text-align: center; border-radius: 14px; font-weight: 900; vertical-align: middle; -webkit-transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.pg_wrap .pg a.pg_next:hover, .pg_wrap .pg a.pg_prev:hover, .pg_wrap .pg a.pg_start:hover, .pg_wrap .pg a.pg_end:hover { background-color: #fff; }
.pg_wrap .pg a:hover { background-color: #0191d1; color: #fff; }
.pg_wrap .pg .pg_current { background: #0a0a0a; color: #f7ca00; }
.pg_wrap .pg .pg_start, .pg_wrap .pg .pg_end, .pg_wrap .pg .pg_next, .pg_wrap .pg .pg_prev { border: 1px solid #ebebeb; border-radius: 0; font-size: 12px; line-height: 29px; width: 34px; padding: 0; }

.board-subject-wrapper { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.icon-re { margin-right: 5px; }

.board-card-list { margin-left: -45px; margin-bottom: -45px; }
.board-card-list.equal-height { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.board-card-list::after { content: ''; display: table; clear: both; }
.board-card-list li { float: left; width: 33.333333%; padding-left: 45px; padding-bottom: 45px; }
.board-card-list li.nothing { width: 100%; text-align: center; font-size: 16px; color: #888; }
.board-card-list li.nothing .board-card-inner { padding-top: 30px; padding-bottom: 30px; border-top: 2px solid #ebebeb; border-bottom: 1px solid #ebebeb; border-left: none; border-right: none; }

.board-card-inner { position: relative; border: 1px solid #ebebeb; overflow: hidden; }

.board-card-thumb { background: #f4f4f4; }
.board-card-thumb::after { content: ''; display: table; clear: both; }
.board-card-thumb a { display: inline-block; width: 100%; float: left; }
.board-card-thumb img { float: left; width: 100%; }

.board-card-noimage { position: relative; }
.board-card-noimage::after { content: ''; display: table; clear: both; }

.board-card-noimage-comment { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 16px; color: #888; font-weight: 100; text-align: center; white-space: nowrap; }

.board-card-text { padding: 30px 20px; background: #fff; }

.board-card-category { font-size: 18px; color: #0191d1; margin-bottom: 25px; }

.board-card-title { font-size: 25px; margin-bottom: 15px; line-height: 1.35; }

.board-card-icon-reply { color: #0191d1; font-size: 80%; }

.board-card-icon-secret { color: #0191d1; font-size: 80%; }

.board-card-content { font-size: 18px; margin-bottom: 50px; line-height: 1.35; height: 48px; }

.board-card-name { font-size: 16px; color: #888; margin-bottom: 20px; text-align: right; }

.board-card-moreinfo { font-size: 12px; color: #888; font-weight: 900; margin-bottom: 5px; }

.moreinfo-item { position: relative; }
.moreinfo-item .board-text-notice { color: #0a0a0a; font-weight: 400; }
.moreinfo-item .board-text-current { color: #0191d1; font-weight: 400; }
.moreinfo-item + .moreinfo-item { margin-left: 10px; padding-left: 10px; }
.moreinfo-item + .moreinfo-item::before { content: ''; display: block; width: 1px; height: 60%; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #ebebeb; }

.board-card-info { line-height: 28px; height: 28px; }
.board-card-info::after { content: ''; display: table; clear: both; }

.board-card-info-date { float: left; font-size: 12px; font-weight: 900; }

.board-card-info-button { float: right; }
.board-card-info-button a { display: inline-block; font-size: 14px; padding: 0 25px; border-radius: 10px; background: #f7ca00; color: #0a0a0a; font-weight: bold; -webkit-transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.board-card-info-button:hover a { background: #0a0a0a; color: #f7ca00; }

.board-card-check { position: absolute; top: 30px; right: 20px; }

.card-admin-scroller { border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; margin-top: 45px; padding: 30px 0; }
.card-admin-scroller::after { content: ''; display: table; clear: both; }
.card-admin-scroller .board-list-admin { display: inline-block; float: left; width: 100%; }
.card-admin-scroller .board-list-admin::after { content: ''; display: table; clear: both; }
.card-admin-scroller .board-list-admin li { display: inline; vertical-align: middle; }
.card-admin-scroller .checkbox-fake { vertical-align: middle; line-height: inherit; }

@media all and (min-width: 1025px) { .board-card-thumb { background: #f4f4f4; }
  .board-card-thumb a { background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 232px; }
  .board-card-thumb a img { opacity: 0; } }
@media all and (max-width: 1024px) { .board-card-thumb a { background-image: none !important; }
  .board-card-thumb a img { opacity: 1; } }
@media all and (min-width: 801px) { .board-card-list.gallery .board-card-thumb, .board-card-list.gallery .board-card-noimage, .board-card-list.gallery .board-card-noimage img { min-height: 232px; }
  .board-card-list.gallery .js-grid-gallery:hover .board-card-text { opacity: 1; }
  .board-card-list.gallery .board-card-text { position: absolute; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.8); width: 100%; height: 100%; opacity: 0; -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .board-card-list.gallery .board-card-text-inner { position: relative; width: 100%; height: 100%; }
  .board-card-list.gallery .board-card-text-inner-inner { position: absolute; bottom: 0; left: 0; width: 100%; }
  .board-card-list.gallery .board-card-inner { border-color: transparent; } }
.board-view-head-top { padding-bottom: 30px; border-bottom: 1px solid #ebebeb; font-size: 18px; font-weight: 500; line-height: 30px; }
.board-view-head-top::after { content: ''; display: table; clear: both; }

.board-view-name { float: left; }

.board-view-ip { font-size: 14px; font-weight: 900; color: #888; margin-left: 10px; }

.board-view-isNotice { color: #0191d1; }

.board-view-etc { float: right; font-size: 14px; font-weight: 900; color: #888; }

.board-view-moreinfo { float: left; white-space: nowrap; }
.board-view-moreinfo .moreinfo-item + .moreinfo-item { margin-left: 10px; }

.board-view-date { position: relative; float: left; margin-left: 10px; padding-left: 10px; }
.board-view-date::before { content: ''; display: block; width: 1px; height: 60%; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #ebebeb; }

.board-view-head-bottom { padding: 95px 0; }
.board-view-head-bottom h3 { font-size: 35px; font-weight: 500; text-align: center; line-height: 1.35; }

.board-view-category { display: block; color: #0191d1; text-align: center; margin-bottom: 50px; font-size: 21px; }

.board-view-body { font-size: 17px; font-weight: 400; line-height: 1.65; }

.board-view-content { padding-bottom: 95px; }

.btns-rounded a, .btns-rounded button { display: inline-block; height: 35px; line-height: 35px; text-align: center; border-radius: 1px; font-size: 14px; padding: 0 20px; border: 1px solid #0a0a0a; -webkit-transition: border-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: border-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); position: relative; }
.btns-rounded a:hover, .btns-rounded button:hover { border-color: rgba(0, 0, 0, 0.2) !important; }

.board-view-sns { text-align: center; padding-bottom: 50px; line-height: 0; }
.board-view-sns.btns-rounded a { color: #fff; border-color: transparent; }
.board-view-sns #bo_v_sns { display: inline-block; }
.board-view-sns #bo_v_sns::after { content: ''; display: table; clear: both; }
.board-view-sns #bo_v_sns li { float: left; text-align: left; }
.board-view-sns #bo_v_sns li + li { margin-left: 10px; }
.board-view-sns #bo_v_sns li img { vertical-align: middle; margin-right: 5px; }
.board-view-sns #bo_v_sns li .sns_f { display: block; background: #3b5997; }
.board-view-sns #bo_v_sns li .sns_t { display: block; background: #09aeee; }
.board-view-sns #bo_v_sns li .sns_g { display: block; background: #ea4026; }
.board-view-sns #bo_v_sns li .sns_k { display: block; background: #fbe300; }

.board-view-thumbs { text-align: center; padding-bottom: 50px; }
.board-view-thumbs img { max-width: 100%; height: auto; }

.board-view-signature { padding-bottom: 95px; color: #888; text-align: right; font-weight: 300; }

.board-view-action { width: 100%; text-align: center; padding-bottom: 95px; line-height: 0; }
.board-view-action.link a { font-weight: 900; }
.board-view-action.link a:hover { color: #0191d1; border: 1px solid #0191d1 !important; }

.board-view-action-inner { display: inline-block; }
.board-view-action-inner::after { content: ''; display: table; clear: both; }
.board-view-action-inner .btn-action { display: inline-block; height: 35px; width: 100px; line-height: 33px; border-radius: 5px; color: #0a0a0a; border: 1px solid #ebebeb; }

.board-view-action-btn { position: relative; float: left; }
.board-view-action-btn + .board-view-action-btn { margin-left: 10px; }

.board-view-action-message { position: absolute; top: 50%; white-space: nowrap; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 14px; }

.good .board-view-action-message { right: 100%; margin-right: 10px; }

.bad .board-view-action-message { left: 100%; margin-left: 20px; }

.board-view-files { padding-bottom: 95px; }

.board-view-files-inner { position: relative; max-width: 750px; margin: 0 auto; padding-left: 120px; }

.board-view-files-label { position: absolute; top: 0; left: 0; width: 100px; font-weight: 500; }

.board-view-files-content li + li { margin-top: 15px; }

.board-view-list-files-inner { position: relative; padding-left: 20px; padding-right: 240px; }
.board-view-list-files-inner i { position: absolute; top: 5px; left: 0; color: #888; }
.board-view-list-files-inner strong { color: #0191d1; word-break: break-all; }
.board-view-list-files-inner .board-view-file-text, .board-view-list-files-inner .board-view-file-size { font-size: 14px; margin-left: 5px; }
.board-view-list-files-inner .board-view-file-info { position: absolute; right: 0; top: 0; font-size: 14px; color: #888; font-weight: 500; }

.board-view-links { padding-bottom: 95px; }
.board-view-links .board-view-list-files-inner { padding-right: 100px; }

.board-view-foot { text-align: center; border-bottom: 1px solid #ebebeb; padding-bottom: 50px; }
.board-view-foot::after { content: ''; display: table; clear: both; }
.board-view-foot .board-view-btns { display: inline-block; }
.board-view-foot .board-view-btns.admin { float: left; }
.board-view-foot .board-view-btns.user { float: right; }
.board-view-foot .board-view-btns::after { content: ''; display: table; clear: both; }
.board-view-foot .btns-item { float: left; }
.board-view-foot .btns-item + .btns-item { margin-left: 10px; }

a.btn-go-list { background: #0a0a0a; color: #fff; border-color: #0a0a0a; }

.board-others-article { padding: 50px 0; }
.board-others-article ul { position: relative; width: 100%; }
.board-others-article ul::before { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1px; height: 100%; background: #ebebeb; }
.board-others-article ul::after { content: ''; display: table; clear: both; }
.board-others-article ul li { width: 50%; }
.board-others-article ul li a { -webkit-transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1); transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1); color: #888; }
.board-others-article ul li a i { -webkit-transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1); transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1); }
.board-others-article ul li a:hover { color: #0191d1; }
.board-others-article ul li a:hover i { color: #0a0a0a; }

.others-prev { float: left; padding-left: 30px; padding-right: 30px; }
.others-prev .others-inner { float: left; padding-left: 40px; }
.others-prev .others-inner i { left: 0; }

.others-next { float: right; padding-right: 30px; padding-left: 30px; text-align: right; }
.others-next .others-inner { float: right; padding-right: 40px; }
.others-next .others-inner i { right: 0; }

.others-inner { display: inline-block; position: relative; width: 100%; }
.others-inner i { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 20px; color: #0191d1; }

.others-title { font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.others-date { font-size: 14px; font-weight: 900; margin-top: 10px; }

.comment-item { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ebebeb; }
.comment-item:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }

.board-comments { border-top: 1px solid #ebebeb; padding-top: 50px; }

.comments-head { padding-bottom: 50px; }

.comment-top { position: relative; padding-left: 90px; min-height: 60px; }

.comment-bottom::after { content: ''; display: table; clear: both; }

.comment-image { position: absolute; top: 0; left: 0; }

.comment-image-inner { width: 60px; height: 60px; border-radius: 50%; overflow: hidden; }
.comment-image-inner::after { content: ''; display: table; clear: both; }
.comment-image-inner img { width: 100%; float: left; }

.comment-info { line-height: 30px; }
.comment-info::after { content: ''; display: table; clear: both; }

.comment-name { float: left; }

.comment-more { float: right; font-size: 14px; font-weight: 900; color: #888; }
.comment-more + .comment-more-date { margin-left: 30px; }

.comment-name { font-size: 18px; font-weight: 500; }

.comment-content { font-size: 14px; padding: 20px 0; line-height: 1.7; }

.comment-reply-depth { display: none; color: #0191d1; font-weight: 500; margin-right: 5px; }

.comment-btns::after { content: ''; display: table; clear: both; }

.list-comments-btns { display: inline-block; float: left; }
.list-comments-btns li { float: left; }
.list-comments-btns li + li { margin-left: 10px; }

.comment-form { position: relative; }
.comment-form::after { content: ''; display: table; clear: both; }
.comment-form h4 { font-weight: 500; margin-bottom: 20px; }

.comment-form-inner { position: relative; float: left; width: 100%; }

.comment-form-cover { position: relative; padding-left: 150px; }

.comment-form-title { position: absolute; top: 0; left: 0; }

.comment-form-content { width: 100%; }

.comment-form-row { position: relative; }
.comment-form-row + .comment-form-row { margin-top: 20px; }
.comment-form-row.multiple .comment-form-row-inner { margin-left: -20px; }

.comment-form-row-inner { position: relative; }
.comment-form-row-inner::after { content: ''; display: table; clear: both; }
.comment-form-row-inner textarea { font-size: 14px; padding: 20px; background: #f4f4f4; border: none; line-height: 1.7; width: 100%; max-width: 100%; min-width: 100%; height: 156px; min-height: 156px; max-height: 312px; float: left; }

.comment-form-col { width: 50%; float: left; padding-left: 20px; }

.comment-form-type-text { font-size: 14px; font-weight: 400; height: 40px; padding: 0 20px; background: #f4f4f4; border: none; }

.comment-captcha { position: absolute; top: 0; left: 0; }
.comment-captcha::after { content: ''; display: table; clear: both; }

.comment-submit { float: right; }
.comment-submit .checkbox-fake { vertical-align: middle; }
.comment-submit .btns-rounded { margin-left: 20px; }
.comment-submit button { vertical-align: middle; background: #0191d1; color: #fff; border-color: transparent; }

#char_cnt, #char_count { vertical-align: middle; }

#char_cnt { font-size: 14px; color: #888; margin-right: 20px; }

.comment-collapse { display: inline-block; float: right; color: #0191d1; font-size: 18px; font-weight: 500; }

.comments-body { display: none; }

.comment-form { display: none; }

.comments-head { cursor: pointer; padding-bottom: 0; }

.comment-opened { display: none; }

#boardView.opened .comment-closed { display: none; }
#boardView.opened .comment-opened { display: block; }
#boardView.opened .comments-body { display: block; }
#boardView.opened .comment-form { display: block; }
#boardView.opened .comments-head { padding-bottom: 50px; margin-bottom: 30px; border-bottom: 1px solid #ebebeb; }
#boardView.opened .comment-form-inner { margin-top: 30px; padding-top: 30px; border-top: 1px solid #ebebeb; }
#boardView.opened .comment-nothing .comment-form-inner { margin: 0; padding: 0; border: none; }

.write-form-item { padding: 30px 0; }
.write-form-item:last-child { padding-bottom: 0; }
.write-form-item.required .write-form-label::after { content: '*'; color: #ff0101; margin-left: 5px; display: inline; }
.write-form-item .tooltip-wrapper { position: relative; }
.write-form-item .tooltip_icon { display: inline-block; vertical-align: baseline; color: #b3b5b8; border: 0; font-size: 1em; background: transparent; cursor: pointer; }
.write-form-item .tooltip { display: none; position: absolute; max-width: 400px; white-space: nowrap; padding: 10px 20px; margin-left: 15px; margin-top: 0; background: #000; line-height: 1.7; color: #fff; font-size: 14px; font-weight: 100; z-index: 9; border-radius: 5px; }

.write-form-item-multiple + .write-form-item-multiple { border-top: 1px solid #ebebeb; }

.write-form-item-inner { position: relative; }
.write-form-item-inner::after { content: ''; display: table; clear: both; }

.write-form-label { position: absolute; top: 0; left: 0; float: left; width: 170px; font-weight: 500; line-height: 34px; }

.write-form-content { float: left; width: 100%; padding-left: 180px; }
.write-form-content::after { content: ''; display: table; clear: both; }

.write-form-text { width: 100%; height: 30px; font-size: 16px; font-weight: 400; border: none; }

.category-select { position: relative; float: left; width: 300px; margin-right: 30px; }
.category-select.focus .fake-select, .category-select:focus .fake-select { opacity: 1; pointer-events: auto; }
.category-select.focus .select-arrows, .category-select:focus .select-arrows { position: absolute; top: 0; right: 0; }
.category-select.focus .select-arrows .close, .category-select:focus .select-arrows .close { opacity: 1; -webkit-transform: none; transform: none; }
.category-select.focus .select-arrows .open, .category-select:focus .select-arrows .open { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
.category-select .selected-value { padding: 10px; background: #f4f4f4; font-size: 14px; font-weight: 400; }

.list-write-option { margin-bottom: 20px; }
.list-write-option::after { content: ''; display: table; clear: both; }
.list-write-option li { float: left; }
.list-write-option li + li { margin-left: 20px; }

#wr_content { display: block; padding: 20px; width: 100%; max-width: 100%; min-width: 100%; height: 111px; min-height: 111px; max-height: 222px; background: #f4f4f4; border: 0; line-height: 1.6em; border: 1px solid rgba(0, 0, 0, 0.08); font-size: 16px; border: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 5px; }

.write-form-guide, #char_count_desc { font-size: 14px; margin-bottom: 15px; color: #0191d1; line-height: 1.35; font-weight: 100; letter-spacing: -0.02em; }
.write-form-guide strong, #char_count_desc strong { font-weight: 400; }

#char_count_wrap { font-size: 14px; margin-top: 15px; color: #0191d1; line-height: 1.35; font-weight: 100; letter-spacing: -0.02em; }

.write-form-file-row { font-size: 14px; }
.write-form-file-row::after { content: ''; display: table; clear: both; }
.write-form-file-row + .write-form-file-row { margin-top: 20px; padding-top: 20px; border-top: 1px solid #ebebeb; }

.write-form-file-col { position: relative; float: left; width: 50%; width: 100%; }
.write-form-file-col::after { content: ''; display: table; clear: both; }
.write-form-file-col + .write-form-file-col { margin-top: 10px; padding-left: 0; }

.write-form-file { position: relative; display: inline-block; width: 100%; min-width: 200px; text-align: left; background: #fff; border-radius: 3px; }
.write-form-file .write-form-text .checkbox-fake { line-height: 20px; }
.write-form-file .write-form-text .checkbox-fake-text { font-size: 12px; color: #888; }
.write-form-file.attatched .write-file-label { color: #0191d1; opacity: 1; }
.write-form-file.attatched .write-file-trigger { background: #0191d1; color: #fff; }

.write-form-file-desc .write-form-text { padding: 0 10px; background: #f4f4f4; }

.write-file-input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; cursor: pointer; }

.write-file-trigger { display: inline-block; padding: 8px 16px; margin-right: 8px; background: #f4f4f4; border-radius: 2px; cursor: pointer; }

.write-file-label { color: #0a0a0a; white-space: nowrap; opacity: .3; }

.write-file-remover { position: absolute; top: 50%; right: 5px; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; }

.write-form-btns { float: right; }
.write-form-btns .btn-board { margin: 0; }
.write-form-btns .btn-board.cancel { background: #f4f4f4; }
.write-form-btns .btn-board.cancel:hover { background: #0a0a0a; color: #fff; }
.write-form-btns .btn-board + .btn-board { margin-left: 20px; }

.wirte-form-title-wrapper { position: relative; }
.wirte-form-title-wrapper .btn_frmline { position: absolute; top: 0; right: 0; background: #434a54; color: #fff; line-height: 30px; height: 30px; padding: 0 10px; border: none; font-size: 14px; border-radius: 3px; width: auto; }
.wirte-form-title-wrapper #autosave_pop { display: none; z-index: 10; position: absolute !important; top: 34px; right: 0; width: 100%; height: auto !important; height: 180px; max-height: 180px; border: 1px solid #ebebeb; background: #fff; -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08); box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08); }
.wirte-form-title-wrapper #autosave_pop:before { content: ""; position: absolute; top: -8px; right: 45px; width: 0; height: 0; border-style: solid; border-width: 0 6px 8px 6px; border-color: transparent transparent #ebebeb transparent; }
.wirte-form-title-wrapper #autosave_pop ul { padding: 15px; list-style: none; overflow-y: scroll; height: 130px; border-bottom: 1px solid #e8e8e8; }
.wirte-form-title-wrapper #autosave_pop li { padding: 8px 10px; border-bottom: 1px solid #fff; background: #eee; zoom: 1; }
.wirte-form-title-wrapper #autosave_pop strong { position: absolute; font-size: 0; line-height: 0; overflow: hidden; }
.wirte-form-title-wrapper #autosave_pop a { font-size: 14px; }
.wirte-form-title-wrapper #autosave_pop span { display: block; float: right; font-size: 12px; font-weight: 500; color: #888; }
.wirte-form-title-wrapper #autosave_pop li:after { display: block; visibility: hidden; clear: both; content: ""; }
.wirte-form-title-wrapper #autosave_pop button { margin: 0; padding: 0; border: 0; font-weight: 300; }
.wirte-form-title-wrapper #autosave_pop button.autosave_del { background: url(./img/close_btn.png) no-repeat 50% 50%; text-indent: -999px; overflow: hidden; height: 20px; width: 20px; margin-left: 10px; cursor: pointer; }
.wirte-form-title-wrapper #autosave_pop div { text-align: center; margin: 0 !important; }
.wirte-form-title-wrapper .autosave_close { cursor: pointer; width: 100%; height: 30px; background: none; font-size: 14px; }

.mobile-last-btns { display: none; margin-left: -10px; margin-top: 30px; }

.mobile-last-btns-inner { float: left; width: 50%; padding-left: 10px; }

.mobile-go-article, .mobile-go-list { display: inline-block; height: 35px; width: 100%; line-height: 35px; text-align: center; border-radius: 1px; font-size: 14px; padding: 0 20px; border: 1px solid #0a0a0a; font-size: 14px; position: relative; }
.mobile-go-article i, .mobile-go-list i { color: #0191d1; margin-right: 10px; }

.cke_sc { position: relative; margin: 0 0 5px; text-align: right; }

.btn_cke_sc { display: inline-block; width: 100%; padding: 0 10px; height: 30px; border: 1px solid #ebebeb; background: #f4f4f4; font-size: 14px; color: #000; text-decoration: none; line-height: 1.35; vertical-align: middle; cursor: pointer; }

.cke_sc_def { position: absolute; top: 100%; left: 0; padding: 20px; padding-bottom: 30px; padding-top: 0; margin-top: -1px; border: 1px solid #ebebeb; border-top: none; background: #f4f4f4; text-align: center; }

.cke_sc_def dl { font-size: 14px; text-align: left; zoom: 1; border-top: 1px solid #ebebeb; }

.cke_sc_def dl:after { display: block; visibility: hidden; clear: both; content: ""; }

.cke_sc_def dt, .cke_sc_def dd { float: left; margin: 0; padding: 10px 0; border-bottom: 1px solid #ebebeb; }

.cke_sc_def dt { width: 20%; }

.cke_sc_def dd { width: 30%; }

.cke_sc_def .btn_cke_sc_close { position: absolute; left: 0; bottom: 0; width: 100%; height: 30px; border: none; font-size: 14px; cursor: pointer; }

@media all and (max-width: 1024px) { .board-normal-list { border-top: 2px solid #ebebeb; padding: 50px; }
  .board-normal-list col.col1 { width: 70px; }
  .board-normal-list col.col2 { width: 100px; }
  .board-normal-list col.col4 { width: 100px; }
  .board-normal-list col.col5 { width: 30px; }
  .board-normal-list col.col6 { width: 30px; }
  .board-normal-list col.col7 { width: 30px; }
  .board-normal-list col.col8 { width: 100px; } }
@media all and (max-width: 800px) { .nav-category { margin-bottom: 30px; }
  .nav-category .board-list-category { margin-top: -20px; margin-left: -20px; }
  .nav-category .board-list-category li { padding-top: 20px; padding-left: 20px; }
  .nav-category .board-list-category li a { font-size: 16px; }
  .board-head { margin-bottom: 0; }
  .board-head fieldset, .board-search { width: 100%; }
  .board-head fieldset { position: relative; margin-bottom: 30px; padding-left: 155px; }
  .search-select { position: absolute; top: 0; left: 0; width: 135px; margin-right: 20px; }
  .search-input { width: 100%; }
  .board-normal-list { border-top: 2px solid #ebebeb; padding: 40px; }
  .board-normal-list .board-text-category { display: none; }
  .board-normal-list tr { padding: 20px 0; }
  .board-normal-list tr.nothing { position: relative; height: 80px; }
  .board-normal-list tr.nothing td { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 14px; }
  .board-normal-list td, .board-normal-list th { padding: 0; border: none; font-size: 16px; }
  .board-normal-list col.col1, .board-normal-list td.col1 { position: absolute; top: 20px; left: 0; z-index: 1; }
  .board-normal-list col.col2, .board-normal-list td.col2 { position: absolute; top: 20px; left: 0; display: block; width: 30px; }
  .board-normal-list col.col3, .board-normal-list td.col3 { display: inline; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
  .board-normal-list col.col4, .board-normal-list td.col4 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; color: #888; }
  .board-normal-list col.col5, .board-normal-list td.col5 { display: none; }
  .board-normal-list col.col6, .board-normal-list td.col6 { display: none; }
  .board-normal-list col.col7, .board-normal-list td.col7 { display: none; }
  .board-normal-list col.col8, .board-normal-list td.col8 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-right: 10px; font-weight: 900; letter-spacing: -0.015em; font-size: 12px; line-height: 14px; color: #888; }
  .board-normal-list tr { position: relative; padding-left: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border-bottom: 1px solid #ebebeb; }
  .board-normal-list tr::after { content: ''; width: 100%; height: 10px; }
  .board-normal-list.is_checkbox tr { padding-left: 75px; }
  .board-normal-list.is_checkbox tr.row-admin { padding-left: 50px; }
  .board-normal-list.is_checkbox tr.row-admin td.col1 { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .board-normal-list.is_checkbox tr.row-admin li a, .board-normal-list.is_checkbox tr.row-admin li button { font-size: 14px; }
  .board-normal-list.is_checkbox tr.row-admin li + li { margin-left: 10px; }
  .board-normal-list.is_checkbox tr.row-admin .checkbox-fake-icon, .board-normal-list.is_checkbox tr.row-admin .radio-fake-icon { vertical-align: middle; }
  .board-normal-list.is_checkbox tr.row-admin::after { display: none; }
  .board-normal-list.is_checkbox col.col2, .board-normal-list.is_checkbox td.col2 { padding-left: 25px; width: 65px; }
  #boardList.board .checkbox-fake-icon, #boardList.board .radio-fake-icon { width: 16px; height: 16px; float: none; }
  #boardList.board .checkbox-fake-icon::before, #boardList.board .radio-fake-icon::before { width: 8px; height: 8px; }
  .btn-board { padding: 0 10px; line-height: 30px; font-size: 14px; margin-top: 20px; }
  .pg_wrap { margin-top: 20px; }
  .pg_wrap .pg { font-size: 14px; }
  .pg_wrap .pg a, .pg_wrap .pg strong { min-width: 24px; }
  .pg_wrap .pg .pg_start, .pg_wrap .pg .pg_end, .pg_wrap .pg .pg_next, .pg_wrap .pg .pg_prev { line-height: 20px; width: 27px; }
  .pg_wrap .pg a + a, .pg_wrap .pg a + span, .pg_wrap .pg a + strong, .pg_wrap .pg span + a, .pg_wrap .pg span + span, .pg_wrap .pg span + strong, .pg_wrap .pg strong + a, .pg_wrap .pg strong + span, .pg_wrap .pg strong + strong { margin-left: 5px; }
  .pg_wrap .pg { position: relative; padding-bottom: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  .pg_wrap .pg .pg_start { left: 0; }
  .pg_wrap .pg .pg_prev { left: 37px; }
  .pg_wrap .pg .pg_end { right: 0; }
  .pg_wrap .pg .pg_next { right: 37px; }
  .pg_wrap .pg .pg_start, .pg_wrap .pg .pg_end, .pg_wrap .pg .pg_next, .pg_wrap .pg .pg_prev { line-height: 24px; width: 27px; position: absolute; bottom: 0; margin: 0; } }
@media all and (max-width: 800px) { .board-view-name { font-size: 17px; }
  .board-view-ip { font-size: 12px; }
  .board-view-etc { font-size: 12px; }
  .board-view-head-bottom { padding: 50px 0; }
  .board-view-head-bottom h3 { font-size: 25px; }
  .board-view-category { margin-bottom: 30px; font-size: 18px; }
  .board-view-content { font-size: 16px; padding-bottom: 50px; }
  .board-view-thumbs { padding-bottom: 30px; }
  .board-view-signature { padding-bottom: 50px; font-size: 14px; }
  .board-view-files { padding-bottom: 50px; font-size: 16px; }
  .board-view-files-content { font-size: 13px; }
  .board-view-list-files-inner .board-view-file-info { font-size: 12px; }
  .board-view-links { padding-bottom: 50px; font-size: 16px; }
  .board-view-action { padding-bottom: 50px; }
  .board-view-sns { padding-bottom: 30px; font-size: 16px; }
  .board-view-foot { padding-bottom: 30px; }
  .board-others-article { padding: 30px 0; }
  .others-title { font-size: 18px; }
  .others-date { font-size: 12px; }
  .others-prev { padding-left: 0; }
  .others-next { padding-right: 0; }
  .board-comments { padding-top: 30px; }
  .comments-head { font-size: 14px; }
  .comment-collapse { font-size: 16px; }
  .comment-more { font-size: 12px; }
  #boardView.opened .comments-head { padding-bottom: 30px; margin-bottom: 20px; }
  #wr_content { padding: 10px; }
  .comment-form-type-text { padding: 0 10px; }
  .comment-form-cover { padding-left: 90px; }
  .checkbox-fake-text { font-size: 14px; }
  .comment-item { margin-bottom: 20px; padding-bottom: 20px; }
  .comment-captcha { position: static; margin-bottom: 10px; }
  #captcha.m_captcha { width: 100%; }
  #captcha.m_captcha::after { content: ''; display: table; clear: both; }
  #captcha.m_captcha #captcha_audio { float: left; width: 100%; margin-bottom: 10px; }
  #captcha.m_captcha #captcha_img { float: left; }
  #captcha.m_captcha #captcha_key { float: left; width: calc(100% - 130px); margin-left: 10px; background: #f4f4f4; border: none; -webkit-box-shadow: none; box-shadow: none; }
  #captcha.m_captcha #captcha_reload { margin-left: 10px; float: left; }
  .mobile-last-btns { display: block; } }
@media all and (max-width: 640px) { .board-view-etc { width: 100%; }
  .board-view-date { margin-left: 10px; }
  .board-view-moreinfo .moreinfo-item + .moreinfo-item { margin-left: 10px; }
  .moreinfo-item-title span { display: none; }
  .board-view-list-files-inner { padding-right: 0; }
  .board-view-links .board-view-list-files-inner { padding-right: 0; }
  .board-view-file-info { display: none; }
  .board-view-foot .board-view-btns.admin { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .board-view-foot .board-view-btns.user { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .board-view-foot .board-view-btns.user::after { content: ''; width: 100%; height: 0; }
  .board-view-foot .board-view-btns.user .btns-item { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .board-view-foot .board-view-btns.user .btns-item.btn-reply { margin-top: 10px; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .board-view-foot .board-view-btns.user .btns-item.btn-write { margin-top: 10px; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .board-view-foot .board-view-btns.user .btns-item.btn-view-search { margin-top: 10px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .board-view-foot .board-view-btns.user .btns-item.btn-list { margin-top: 10px; -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  .board-view-foot .board-view-btns.admin { width: 100%; margin-bottom: 10px; }
  .comment-item { margin-left: 0 !important; }
  .comment-reply-depth { display: inline-block; }
  .comment-top { padding-left: 0; }
  .comment-image { display: none; }
  .comment-more { width: 100%; }
  .others-title { font-size: 16px; } }
@media all and (max-width: 512px) { .board-others-article { padding: 0; }
  .board-others-article.other-odd ul::before { display: none; }
  .board-others-article ul::before { width: 100%; height: 1px; }
  .board-others-article ul li { width: 100%; }
  .others-prev { padding: 30px 0; }
  .others-next { padding: 30px 0; }
  .comment-form-cover { padding-left: 0; }
  .comment-form-title { position: static; margin-bottom: 10px; font-size: 16px; }
  .board-view-files-inner { padding-left: 90px; }
  .board-view-sns { font-size: 14px; }
  .board-view-sns #bo_v_sns { display: block; margin-left: -10px; }
  .board-view-sns #bo_v_sns::after { content: ''; display: table; clear: both; }
  .board-view-sns #bo_v_sns li { float: left; width: 33.333333%; padding-left: 10px; }
  .board-view-sns #bo_v_sns li + li { margin: 0; }
  .board-view-sns #bo_v_sns li img { margin: 0; }
  .board-view-sns #bo_v_sns li span { display: none; } }
@media all and (max-width: 800px) { .subpage-content { padding-left: 0; }
  .write-form-item { padding: 20px 0; } }
@media all and (max-width: 512px) { .write-form-label, .write-form-content { width: 100%; }
  .write-form-label { position: static; margin-bottom: 10px; }
  .write-form-content { padding: 0; }
  .category-select { width: 100%; margin: 0; } }
@media all and (min-width: 1025px) { .board-card-inner:hover { border-color: #0191d1; } }
@media all and (max-width: 1024px) { .board-card-list li { width: 50%; } }
@media all and (max-width: 800px) { .board-card-category { font-size: 16px; }
  .board-card-title { font-size: 20px; }
  .board-card-content { font-size: 16px; }
  .board-card-name { font-size: 14px; }
  .card-admin-scroller { margin-top: 20px; padding: 20px 0; }
  .board-list-admin li button, .board-list-admin li a { font-size: 14px; }
  .board-list-admin li + li { margin-left: 10px; } }
@media all and (max-width: 512px) { .board-card-list { margin-left: -20px; margin-bottom: -20px; }
  .board-card-list li { width: 100%; padding-left: 20px; padding-bottom: 20px; }
  .board-card-content { height: auto; margin-bottom: 30px; } }
.comments-head { position: relative; }

.mobile-last-btns { position: relative; }

.board-qna-list { border-top: 2px solid #ebebeb; }
.board-qna-list li { border-bottom: 1px solid #ebebeb; width: 100%; }
.board-qna-list li.nothing { text-align: center; font-size: 16px; color: #888; }
.board-qna-list li.opened .qna-question .close { opacity: 1; -webkit-transform: none; transform: none; }
.board-qna-list li.opened .qna-question .open { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
.board-qna-list li.opened .qna-answer { max-height: 332px; }

.qna-question { position: relative; padding: 30px 50px; cursor: pointer; }

.board-qna-check { position: absolute; top: 50%; left: 10px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.qna-question-inner { position: relative; }

.qan-title { position: relative; width: 100%; font-weight: 500; padding-left: 50px; padding-right: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.qan-title::before { content: 'Q .'; position: absolute; top: 0; left: 0; font-weight: 600; color: #0191d1; }

.qna-flag { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.qna-flag .close { opacity: 0; -webkit-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.qna-flag .open { position: absolute; top: 0; right: 0; font-size: 16px; -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }

.qna-admin { position: absolute; top: 0; right: 30px; font-size: 14px; }
.qna-admin a { display: inline-block; color: #888; }
.qna-admin a:hover { color: #0a0a0a; }
.qna-admin a + a { margin-left: 10px; }

.qna-answer { line-height: 1.7; max-height: 0; overflow: hidden; -webkit-transition: max-height 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), height 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: max-height 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), height 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }

.qna-content-scrollable { height: 100%; overflow: auto; }

.qna-answer-inner { padding: 30px 50px; background-color: #f4f4f4; }

.qna-content { position: relative; width: 100%; height: 100%; padding-left: 50px; }
.qna-content::before { content: 'A .'; position: absolute; top: 0; left: 0; font-weight: 600; color: #ff0101; }

.qna-scrollable-content { font-size: 16px; }

@media all and (max-width: 800px) { .is-checkbox .qna-question, .is-checkbox .qna-answer-inner { padding-left: 40px; }
  .qna-question { padding: 20px 20px; }
  .qan-title { font-size: 16px; padding-left: 30px; padding-right: 60px; }
  .qna-answer-inner { padding: 20px; }
  .qna-content { padding-left: 30px; }
  .qna-scrollable-content { font-size: 14px; } }
